<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.socialpub.rahul">

    <application
            android:name=".SocialPubApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.home.members.post.members.PostFilterActivity">
        </activity>

        <meta-data
                android:name="CLOUDINARY_URL"
                android:value="cloudinary://787682759425367:TW7viAZkD17DAhFw_8s0uYpgW0w@social-pup"/>

        <activity
                android:name=".ui.home.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.onboarding.OnboardingActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>