<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.socialpub.rahul">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".SocialPubApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.preview.profile.ProfilePreviewActivity">
        </activity>
        <activity android:name=".ui.settings.SettingsActivity">
        </activity>
        <activity android:name=".ui.edit.profile.EditProfileActivity">
        </activity>
        <activity android:name=".ui.preview.notifications.NotificationsActivity">
        </activity>
        <activity android:name=".ui.edit.followers.FollowersActivity">
        </activity>
        <activity android:name=".ui.edit.favourites.FavPostActivity">
        </activity>
        <activity android:name=".ui.navigation.FollowerActivity">
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_map_api_key"/>
        <meta-data
                android:name="CLOUDINARY_URL"
                android:value="cloudinary://787682759425367:TW7viAZkD17DAhFw_8s0uYpgW0w@social-pup"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".ui.home.HomeActivity"
                android:label="@string/title_activity_home"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.onboarding.OnboardingActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>